* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background: #f6f1e9;
}
h1 {
  font-size: 3em;
  color: #ff8400;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.box {
  padding: 20px;
  margin-top: 20px;
  max-width: 650px;
  color: #4f200d;
  border-radius: 10px;
  line-height: 2;
  word-spacing: 5px;
  box-shadow: 0px 0px 10px #ffd93d;
}
.actualJoke {
  opacity: 0;
}
.effect {
  opacity: 1;
  transition: opacity 0.25s;
}
.btn {
  display: block;
  padding: 10px 20px;
  background: #4f200d;
  color: #ff8400;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  border: none;
  margin: 20px auto 0 auto;
  border-radius: 7px;
  font-weight: bold;
  transition: 0.45s all;
}
.btn:hover {
  color: #4f200d;
  background: #ff8400;
  box-shadow: 0px 0px 5px #4f200d;
}
